body{
    margin: 0px;
    padding: 0px;
    // background-image: url('../images/mobile.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    background-color: rgba(66, 199, 252, 0.685);
}

main{
    margin: 0px;
    padding: 0px;
    width : auto;
    height: auto;
    overflow: hidden;
    & * {
        margin: 0px;
        padding: 0px;
    }
}

.hot
{ 
    position: relative;
	background:linear-gradient( to top right, rgba(255,87,34,1) 0%,
	rgba(251,140,0 ,1) 100%);
	box-shadow: 1px 1px 30px rgba(255,111,0 ,1);
}
.sun
{
	position: absolute;
	top: -2%;
	left:85%;
	width:50px;
	height: 50px;
	border-radius: 100%;
	background:linear-gradient( to bottom left, rgba(255,235,59,1) 0%,
	rgba(249,168,37 ,1) 90%);
	box-shadow: 1px 1px 30px rgba(255,160,0 ,1);
	animation: inex 3s infinite linear ;
	
}

.sunx
{
	position: absolute;
	top:30%;
	left:45%;
	width:10px;
	height: 10px;
	border-radius: 100%;
	background-color: #fff;
	opacity:0.2;
}
.cloudy
{ 
    position: relative;
	background:linear-gradient( to top right, rgba(63,81,181,1) 0%,
	rgba(3,155,229 ,1) 40%);
	box-shadow: 1px 1px 30px rgba(2,119,189 ,1);

}
.cloud
{
position: absolute;
	top:5%;
	left:85%;
	width:60px;
	height: 20px;
	border-radius:10px;
	background-color: rgba(129,212,250 ,1);
	box-shadow: 1px 1px 30px rgba(0,151,167 ,1);
animation: move 3s infinite linear ;

}
.cloudx
{
	position: absolute;
	top:15%;
	left:80%;
	width:60px;
	height: 20px;
	border-radius:10px;
	background-color: rgba(129,212,250 ,1);
	animation: move 3s infinite linear ;

}
.stormy
{
	position: relative;
	background:linear-gradient( to top right,rgba(117,117,117 ,1) 0%,
	rgba(33,33,33 ,1) 90%);
	box-shadow: 1px 1px 30px rgba(33,33,33 ,1);
}
.stormy i
{
	position: absolute;
	list-style: none;
	width: 5px;
	height: 5px;
	border-radius: 100%;
	background-color:#777;
	box-shadow: 1px 1px 30px #555;
	animation: fall 3s infinite linear ;
opacity:0;
}
.stormy i:nth-child(1)
{
	
top:0%;
left:100%;
}

.stormy i:nth-child(2)
{
top:5%;
left:90%;
}

.stormy i:nth-child(3)
{
top:-10%;
left:80%;
animation-delay: 2s;
}

.stormy i:nth-child(4)
{
top:10%;
left:100%;
animation-delay: 2s;
}

.stormy i:nth-child(5)
{
top:20%;
left:80%;
animation-delay: 0.5s;
}

.stormy i:nth-child(6)
{
top:35%;
left:70%;
background-color: #bbb;
animation-delay: 0.5s;
}


.stormy i:nth-child(7)
{
top:23%;
left:60%;
background-color: #bbb;
animation-delay: 0.8s;
}

.stormy i:nth-child(8)
{
top:5%;
left:70%;
background-color: #bbb;
animation-delay: 0.8s;
}

.breezy
{
	position: relative;
	// background:linear-gradient( to top right,rgba(156,204,101 ,1) 0%,
	// rgba(38,198,218 ,1) 50%);
	// box-shadow: 1px 1px 30px rgba(38,198,218 ,1);
    background-color: rgb(62, 72, 77);
	box-shadow: 1px 1px 30px rgb(78, 93, 100);
    animation: flash 6s infinite;
}
.cloudr
{
position: absolute;
	top:5%;
	left:80%;
	width:70px;
	height: 20px;
	border-radius:10px;
	background-color: rgba(96,125,139 ,1);
	box-shadow: 1px 1px 30px rgba(84,110,122 ,1);
    animation: flash 1.5s infinite linear;

}

.breezy i
{
	position: absolute;
	width: 2px;
	height: 7px;
	border-radius: 10%;
	background-color:#eee;
	opacity:0;
	animation: fall 3s infinite linear ;
	transform: rotate(25deg);
}
.breezy i:nth-child(1)
{
	
top:10%;
left:95%;
}

.breezy i:nth-child(2)
{
top:5%;
left:83%;
animation-delay:0.3s;
}

.breezy i:nth-child(3)
{
top:4%;
left:87%;
animation-delay:0.6s;
}

.breezy i:nth-child(4)
{
top:15%;
left:70%;
animation-delay:1s;
}

.breezy i:nth-child(5)
{
top:10%;
left:75%;
}


@keyframes inex {


	50% {
	opacity: 0.4;

	}
	60%
	{
		opacity: 1;
	}
}
@keyframes move {


	50% {
	transform: translateX(-10px);

	}
}
@keyframes fall {
10%
{
	opacity:0.8;
}

	50% {
		opacity:1;
	transform: translate(-10px,30px);

	}
	100%
	{
		transform: translate(-25px,70px);

		
	}
}
@keyframes flash
{
	90%
	{
		background-color: rgb(62, 72, 77);
	}
	91%
	{
		background-color: #fff;
	}
	92%
	{
		background-color: rgba(96,125,139 ,1);
	}
	93%
	{
		background-color: #fff;	
	}
}

.hidden{
    opacity: 0;
}
