body{
    margin: 0px;
    padding: 0px;
    background-image: url('../images/mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    margin: 0px;
    padding: 0px;
    width : auto;
    overflow: hidden;
    & * {
        margin: 0px;
        padding: 0px;
    }
}
