.header {
    width: auto;
    text-align: center;
    background-color: rgba($color: $couleur_fond_gris, $alpha: 0.8);
    padding-bottom: 15px;
    &__h1{
        color : $couleur_primaire;
        padding: 10px;
    }
    &__form {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        & input{
            width: 50%;
            color: black;
            font-size: 1.5rem;
        }
        & label{
            padding: 10px;
            font-size: 1.3rem;
            flex: 1 100%;
        }
        &--btn{
            border: none;
            background-color: transparent;
            padding: 5px;
            font-size: 1.3rem;
            &--hidden{
                display: none;
            }
        }
    }
}